---
import MetaTags from "@/components/SEO/MetaTags.astro";
import Footer from "@/components/shared/Footer.astro";
import { Header } from "@/components/shared/Header.jsx";
import "../styles/global.css";

const { content } = Astro.props;
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{content.title}</title>
    <MetaTags
      title={content.title}
      description={content.description}
      keywords={content.keywords}
      image={content.image}
    />
  </head>
  <body>
    <Header client:load logoSrc="/logo.png" />
    <slot />
    <Footer />
  </body>
</html>
